.question {
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: #AFD8D7;
}

h1 {
	font-family: 'VT323', Arial, serif; 
	font-weight: 400;
	font-size: 4em;
	padding-top: 60px
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-bottom: 20px;
	line-height: 1.3em;
}
h2.codepage {
	padding-bottom: 0px;
	padding-top: 20px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	line-height: 1.3em;
	font-size: 1.5em;
	padding-top: 30px;
	padding-bottom: 10px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

code {
	color: white;
	background-color: #000;
    border: none;
}

div.code {
	background-color: #000;
	border: 3px white solid;
	padding: 15px;
	max-width: 400px;
}

.endpoint {
	padding-top: 200px;
	padding-bottom: 200px;
}

.button.primary{ 
	border: 1px solid #4D4D4D;
	background: #FFF;
	color: #000 !important;
	font-weight: 300;
	text-transform: uppercase;

}

.button.primary:hover, .button.primary:focus {
		background: #E6E6E6;
	}


.button.secondary{ 
	border: 1px solid #4D4D4D;
	background: #B9D5B6;
	color: #000 !important;
	font-weight: 600;
	max-width: 300px;
}

.button.secondary:hover, .button.secondary:focus {
		background: #FFF;

	}

.top-bar {
	  border-bottom: 3px solid #FFF;
	  font-weight: bold;

      z-index: 1;
      position: fixed;
      width: 100%;

}

.top-bar a{
	color: #838BAA;

}

.top-bar a:hover {
	color: #656B7F;

}

.callout.primary {
	background-color: #BAC0E2;
	padding-bottom: 150px;
	padding-bottom: 150px;
}

.callout.secondary {
	background-color: #EAD8B0;
}

.question-section {
	background-color: #AFD8D7;
}

.callout.tertiary {
	background-color: #E0B9B3;
}
